body {
    font-family: 'Playfair Display', serif;    
  }

 /* ----------------------------------------------
 * Background photo
 * ---------------------------------------------- */
  body::after {
    content: "";
    background: url('wallpaper.jpg');
    /* url(https://img-public.freepik.com/preview/free-photo/creative-background-gaming-dice-cards-casino-chips-dark-background_99433-56.jpg); */
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-repeat: repeat;
    background-size: 100% auto;
  }
  
 /* ----------------------------------------------
 * Button to re-start Game
 * ---------------------------------------------- */

div#button {
  display:flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
}

.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

/* ----------------------------------------------
 * Messy Draw Deck
 * ---------------------------------------------- */

#deck-10 {
  transform:rotate(0deg);
  position: relative;
  top: 5px;
  left: -15px;
  width: 83px;
  height: 130px;
  z-index: 1;
}

#deck-11 {
  transform: rotate(-5deg);
  position: absolute;
  top: 13px;
  left: 4px;
  z-index: 2;
  width: 83px;
}

#deck-12 {
  transform: rotate(13deg);
  position: absolute;
  top: 15px;
  left: 10px;
  width: 83px;
  height: 130px;
  z-index: 3;
}

#deck-13:hover {
    transform: rotate(8deg) scale(1.2,1.2);
}

#deck-13 {
  transform: rotate(5deg);
  position: absolute;
  top: 12px;
  left: 5px;
  width: 83px;
  z-index: 4;
}

/* ----------------------------------------------
 * Animation for Draw 
 * ---------------------------------------------- */
 /* ----------------------------------------------
 * Generated by Animista on 2021-11-30 19:16:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

img.draw-card {
	-webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Visualising color change
 * ---------------------------------------------- */

 .dot {
  height: 70px;
  width: 70px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  color:white;
  font-size:15px;
}

div#button-color {
  font-size: 20px;
  position:absolute;
  top:340px;
  right: 720px;
} 





