body {
  font-family: 'Playfair Display', serif;
}

body::after {
  content: "";
  background: url('wallpaper.jpg');
  /* url(https://img-public.freepik.com/preview/free-photo/creative-background-gaming-dice-cards-casino-chips-dark-background_99433-56.jpg); */
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

div#button {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
}

.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}