body {
  font-family: 'Playfair Display', serif;
}

/* ----------------------------------------------
* Background photo
* ---------------------------------------------- */
body::after {
  content: "";
  background: url('wallpaper.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: repeat;
  background-size: 100% auto;
}

/* ----------------------------------------------
* Button to re-start Game
* ---------------------------------------------- */

div#button {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
}

.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

/* ----------------------------------------------
* Messy Draw Deck
* ---------------------------------------------- */

#deck-10 {
  transform: rotate(0deg);
  position: relative;
  top: 5px;
  left: -15px;
  width: 83px;
  height: 130px;
  z-index: 2;
}

#deck-11 {
  transform: rotate(-5deg);
  position: absolute;
  top: 13px;
  left: 4px;
  z-index: 3;
  width: 83px;
}

#deck-12 {
  transform: rotate(13deg);
  position: absolute;
  top: 15px;
  left: 10px;
  width: 83px;
  height: 130px;
  z-index: 4;
}

#deck-13:hover {
  transform: rotate(8deg) scale(1.2, 1.2);
}

#deck-13 {
  transform: rotate(5deg);
  position: absolute;
  top: 12px;
  left: 5px;
  width: 83px;
  z-index: 5;
}

/* ----------------------------------------------
* Animation for Draw Card
* ---------------------------------------------- */
/* ----------------------------------------------
* Generated by Animista on 2021-11-30 19:16:4
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

img.draw-card {
  -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
* Visualising color change
* ---------------------------------------------- */

div#button-color {
  font-size: 20px;
  display:flex;
  justify-content: flex-start;
} 

.dot {
  position: relative;
  display: block;
  margin: 30px auto;
  width: 100px;
  height: 100px;
  border: 13px dashed white;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  font-family: Helvetica;
  color: white;
}
.dot:before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -16px;
  border-radius: 50%;
  background: red;
  content: '';
}
.dot:after {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 5px;
  border: 3px dashed white;
  border-radius: 50%;
  background: rgba(0,0,0,0.4);
  content: '';
}

div#uno-div {
  font-weight: bold;
  -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-10 17:36:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
