
  div#players-and-cards {
     margin:20px;
    display:flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 20px;   
      }

      /********************* PLAYERS BOXES ***********************************************/
    div#player1.player {
        width:35%;
        height:300px;      
        display:flex;
        flex-direction:row;
        margin: 1px 3px 1px 3px;
    }

    div#player2.player {
        width:35%;
        height:300px;      
        display:flex;
        flex-direction:row-reverse;
    }

    div#player3.player {
        width:35%;
        height:300px;
        display:flex;
        flex-direction:row;
    }

    div#player4.player {
        width:35%;
        height:300px;
        display:flex;
        flex-direction:row-reverse;
        justify-content: stretch;
    }

    div#draw-deck {
        display: flex;
        justify-content: center;       
        width:10%;
        height:150px;
    }

    div#discard-deck {
        display: flex;
        justify-content: center;
        width:10%;
        height:150px;
    }

    img.mybackcard:hover{
        transform: scale(1.2,1.2);
      }    

    img.mytopcard:hover{
        transform: scale(1.2,1.2);
      }   


/* @-webkit-keyframes onlycards {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  

      .onlycards {
        -webkit-animation: wobble-hor-bottom 0.8s both;
                animation: wobble-hor-bottom 0.8s both;
    } */


    /********************* CARDS BOXES ***************************************************/
  
    div.onlycards {      
        display: flex;
        justify-content: center;
        width:90%;
        transform: rotate(-10deg);  
        margin:20px;
    }

    img.mycard:hover{
        margin: 0px 0px 20px 0px;
        transform: scale(1.1,1.1);
      }    

    /********************* PLAYER NAMES AND POINTS BOXES ********************************/
    
    div.namesandpoints {  
        font-family: 'Playfair Display', serif; 
        width:15%;  
        display:flex;
        flex-flow: column;
        gap:10px;
        font-size: 25px;      
    }

    div#player1-name.playername {
        width: 100%;
        height: 100px;       
        color:whitesmoke;     
    }

    div#player2-name.playername {
        width: 100%;
        height: 100px; 
        color:whitesmoke;
        border-radius:15px; 
    }

    div#player3-name.playername {
        width: 100%;
        height: 100px;
        color:whitesmoke;

        border-radius:15px; 
    }

    div#player4-name.playername {
        width: 100%;
        height: 100px;
        color:whitesmoke;
        border-radius:15px; 
    }
      
    div#player1-points.playerpoints {       
        width: 100%;
        height: 100px;
        color:whitesmoke;
        border-radius:15px; 
    }

    div#player2-points.playerpoints {       
        width: 100%;
        height: 100px;
        color:whitesmoke;
        border-radius:15px; 
    }

    div#player3-points.playerpoints {       
        width: 100%;
        height: 100px;
        color:whitesmoke;
        border-radius:15px; 
    }

    div#player4-points.playerpoints {       
        width: 100%;
        height: 100px;
        color:whitesmoke;
        border-radius:15px; 
    }

    div.active-player {
        background-color: hsl(345deg 100% 47%);
        opacity: 5;
        /*box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);    
        transform: scale(1.2, 1.2);*/
    }

    /* .spread:hover .suitdiamonds {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
      }
       
      .spread:hover .suithearts {
        left: 30px;
        top: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }
       
      .spread:hover .suitclubs {
        left: 60px;
        top: 5px;
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
      }
       
      .spread:hover .suitspades{
        left: 80px;
        top: 10px;
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        transform: rotate(20deg);
      } */

