
  div#players-and-cards {
     margin:20px;
    display:flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 20px;   
   
      }

  img {
    box-shadow: 7px 15px 10px #4d4d4d;
    border-radius:8px;
  }

 /* ----------------------------------------------
 * Player Boxes (names, scores, cards)
 * ---------------------------------------------- */

    div#player1.player {
        width:35%;
        height:300px;      
        display:flex;
        flex-direction:row;
        margin: 1px 70px 1px 3px;
    }

    div#player2.player {
        width:35%;
        height:300px;      
        display:flex;
        flex-direction:row-reverse;
        margin: 1px 3px 1px 70px;
    }

    div#player3.player {
        width:35%;
        height:300px;
        display:flex;
        flex-direction:row;
    }

    div#player4.player {
        width:35%;
        height:300px;
        display:flex;
        flex-direction:row-reverse;
        justify-content: stretch;
    }

 /* ----------------------------------------------
 * Draw and Discard Deck
 * ---------------------------------------------- */

    div#draw-deck {
        display: flex;
        justify-content: center;       
        width:10%;
        height:150px;
        position: absolute;
    }

    div#discard-deck {
        display: flex;
        justify-content: center;
        width:10%;
        height:130px;
        margin-right: 50px; 
    }

    img.mybackcard:hover{
        transform: scale(1.2,1.2);
      }    

    img.mytopcard:hover{
        transform: scale(1.2,1.2);
      }   
    
/* ----------------------------------------------
 * Animation if incorrect player or wrong card
 * ---------------------------------------------- */

@-webkit-keyframes wrong-player {
  0%,
  100% {
   -webkit-transform: translateX(0%);
           transform: translateX(0%);
   -webkit-transform-origin: 50% 50%;
           transform-origin: 50% 50%;
  }
  15% {
   -webkit-transform: translateX(-30px) rotate(-6deg);
           transform: translateX(-30px) rotate(-6deg);
  }
  30% {
   -webkit-transform: translateX(15px) rotate(6deg);
           transform: translateX(15px) rotate(6deg);
  }
  45% {
   -webkit-transform: translateX(-15px) rotate(-3.6deg);
           transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
   -webkit-transform: translateX(9px) rotate(2.4deg);
           transform: translateX(9px) rotate(2.4deg);
  }
  75% {
   -webkit-transform: translateX(-6px) rotate(-1.2deg);
           transform: translateX(-6px) rotate(-1.2deg);
  }
  }
  @keyframes wrong-player {
  0%,
  100% {
   -webkit-transform: translateX(0%);
           transform: translateX(0%);
   -webkit-transform-origin: 50% 50%;
           transform-origin: 50% 50%;
  }
  15% {
   -webkit-transform: translateX(-30px) rotate(-6deg);
           transform: translateX(-30px) rotate(-6deg);
  }
  30% {
   -webkit-transform: translateX(15px) rotate(6deg);
           transform: translateX(15px) rotate(6deg);
  }
  45% {
   -webkit-transform: translateX(-15px) rotate(-3.6deg);
           transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
   -webkit-transform: translateX(9px) rotate(2.4deg);
           transform: translateX(9px) rotate(2.4deg);
  }
  75% {
   -webkit-transform: translateX(-6px) rotate(-1.2deg);
           transform: translateX(-6px) rotate(-1.2deg);
  }
  }
  
  img#wrong-player {
     -webkit-animation: wrong-player 0.3s both;
     animation: wrong-player 0.3s both;
   }  

 /* ----------------------------------------------
 * Cards boxes
 * ---------------------------------------------- */
  
    div.onlycards {      
        display: flex;
        justify-content: center;
        width:90%;
        transform: rotate(-10deg);  
        margin:20px;
    }

    img.mycard:hover{
        margin: 0px 0px 20px 0px;
        transform: scale(1.2,1.2);
      }    

 /* ----------------------------------------------
 * Namees and points boxes
 * ---------------------------------------------- */
    
    div.namesandpoints {  
        font-family: 'Playfair Display', serif; 
        width:15%;  
        display:flex;
        flex-flow: column;
        gap:10px;
        font-size: 30px;    
    }

    div#player1-name.playername {
        width: 100%;
        height: 100px;       
        color:#000000; 
        text-shadow: 2px 2px 8px #FF0000;    
    }

    div#player2-name.playername {
        width: 100%;
        height: 100px; 
        color:#000000; 
        text-shadow: 2px 2px 8px #FF0000; 
        border-radius:15px; 
    }

    div#player3-name.playername {
        width: 100%;
        height: 100px;
        color:#000000; 
        text-shadow: 2px 2px 8px #FF0000; 
        border-radius:15px; 
    }

    div#player4-name.playername {
        width: 100%;
        height: 100px;
        color:#000000; 
        text-shadow: 2px 2px 8px #FF0000; 
        border-radius:15px; 
    }
      
    div#player1-points.playerpoints {       
        width: 100%;
        height: 100px;
        color:#000000; 
        text-shadow: 2px 2px 8px #FF0000; 
        border-radius:15px; 
    }

    div#player2-points.playerpoints {       
        width: 100%;
        height: 100px;
        color:#000000; 
        text-shadow: 2px 2px 8px #FF0000; 
        border-radius:15px; 
    }

    div#player3-points.playerpoints {       
        width: 100%;
        height: 100px;
        color:#000000; 
        text-shadow: 2px 2px 8px #FF0000; 
        border-radius:15px; 
    }

    div#player4-points.playerpoints {       
        width: 100%;
        height: 100px;
        color:#000000; 
        text-shadow:2px 2px 8px #FF0000; 
        border-radius:15px; 
    }

 /* ----------------------------------------------
 * Choosing Active Player
 * ---------------------------------------------- */
 /* ----------------------------------------------
 * Generated by Animista on 2021-11-25 17:26:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

    div.active-player>* {
        /* background-color: hsl(345deg 100% 47%); */
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
        transform: scale(1.1);
    }

    @-webkit-keyframes glow {
      from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 6px #fff, 0 0 7px #fff;
      }
      to {
      box-shadow: 0 0 10px #fff, 0 0 30px #737373, 0 0 4px #737373, 0 0 5px #737373, 0 0 6px #737373, 0 0 7px #737373, 0 0 8px #737373;
      }
    }

    /* .spread:hover .suitdiamonds {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
      }
       
      .spread:hover .suithearts {
        left: 30px;
        top: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }
       
      .spread:hover .suitclubs {
        left: 60px;
        top: 5px;
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
      }
       
      .spread:hover .suitspades{
        left: 80px;
        top: 10px;
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        transform: rotate(20deg);
      } */

 /* ----------------------------------------------
 * Animation for Top Card on the Discard Deck
 * ---------------------------------------------- */
  /* ----------------------------------------------
 * Generated by Animista on 2021-11-25 17:26:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

      img.mytopcard {
            -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  
  div#player1-allCards {
    margin: 5px;
  }
  