body {
    font-family: 'Playfair Display', serif;    
  }
  
  body::after {
    content: "";
    background: url('wallpaper.jpg');
    /* url(https://img-public.freepik.com/preview/free-photo/creative-background-gaming-dice-cards-casino-chips-dark-background_99433-56.jpg); */
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-repeat: no-repeat;
    background-size: 100% auto;
  }


  div.players-and-cards {
    display:flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }