input.form-control {
    margin: 0px 5px 10px 5px;
    border:1px solid #1d3030;
  }

  div.modal-content {
    background-color:#eff5f4;
    border-radius: 25px;
  }
  
  button.btn.btn-primary {
    background-color: #1d302b;
  }

  h5#staticBackdropLabel {
    text-align: left;
  }
