
  div#players-and-cards {
      margin:20px;
    display:flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 20px;   
      }

      /********************* PLAYERS BOXES ********************************/
    div#player1.player {
        width:35%;
        height:300px;      
        display:flex;
        flex-direction:row;
        margin: 1px 3px 1px 3px;
    }

    div#player2.player {
        width:35%;
        height:300px;      
        display:flex;
        flex-direction:row-reverse;
    }

    div#player3.player {
        width:35%;
        height:300px;
        display:flex;
        flex-direction:row;
    }

    div#player4.player {
        width:35%;
        height:300px;
        display:flex;
        flex-direction:row-reverse;
        justify-content: stretch;
    }

    div#pickup-deck.deck {
        width:15%;
        height:200px;
        align-self:flex-end;
    }

    div#putdown-deck.deck {
        width:15%;
        height:200px;
    }

    /********************* CARDS BOXES ***************************************/
  
    div.onlycards{      
        display: flex;
        width:100%;
        list-style: none;
    }

    
    /********************* PLAYER NAMES AND POINTS BOXES ********************************/
    
    div.namesandpoints {     
        display:flex;
        flex-flow: column;
        gap:10px;
    }

    div#player1-name.playername {
        width: 100%;
        height: 100px;
    }

    div#player2-name.playername {
        width: 100%;
        height: 100px;
    }

    div#player3-name.playername {
        width: 100%;
        height: 100px;
    }

    div#player4-name.playername {
        width: 100%;
        height: 100px;
    }
      
    div#player1-points.playerpoints {       
        width: 100%;
        height: 100px;
    }

    div#player2-points.playerpoints {       
        width: 100%;
        height: 100px;
    }

    div#player3-points.playerpoints {       
        width: 100%;
        height: 100px;
    }

    div#player4-points.playerpoints {       
        width: 100%;
        height: 100px;
    }