body {
    font-family: 'Playfair Display', serif;    
  }
  
  body::after {
    content: "";
    background: url('wallpaper.jpg');
    /* url(https://img-public.freepik.com/preview/free-photo/creative-background-gaming-dice-cards-casino-chips-dark-background_99433-56.jpg); */
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  nav {
      display:flex;
      justify-content: flex-start;
      font-size: 20px;
      line-height:55px;
      background-color: rgb(15, 26, 26);
      color: whitesmoke;
      height:60px;
  }

  input.form-control {
    margin: 0px 5px 10px 5px;
    border:1px solid #1d3030;
  }

  div.modal-content {
    background-color:#eff5f4;
    border-radius: 25px;
  }
  
  button.btn.btn-primary {
    background-color: #1d302b;
  }

